const config = {
    server: {
        max_devices: 0,
        device_prune: false,
        session_length: 260000,
        
        enable_http: false,
        enable_websocket: true,

        use_ssl: false,

        log: {
          level: 'info',
          file: '../wss.log',
          max_size: 10000000,
          max_files: 1,
        },
        
        db: {
          file: 'sigmonjs.db',
          server: '127.0.0.1:27017',
          host: '127.0.0.1',
          port: 27017,
          retain: 604800,
        },
        
        ws: {
          //port: 8989,
          port: 8989,
          subscribe_interval: 4500,
          ping_interval: 30000,
        },
    },
    
    sensor: {
        gpsd: {
          hostname: '127.0.0.1',
          port: 2947,
        },
        
        ws: {
          server: 'ws://127.0.0.1:8989/ws',
          host: '127.0.0.1',
          port: '8989',
          url: '/ws',
        },
        
        interface: 'mon0', //['wlan0mon','wlan1mon'],
        reconnect: true,
    },
    
    hopper: {
        hop: true,
        channel: 1, // when not hopping
        channels: 11,
        dwell: 200, // airodump sleeps for 200ms..
    },

    console: {
      use_color: true,
      use_curses: true,
      status_interval: 60000,
    }
}

module.exports = config
